@import "tailwindcss";


@theme{

  --color-pop-red: #cf6117;
}

@layer base {

  ::-webkit-scrollbar {
    display: none;
  }

  html {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

  body {
    @apply bg-pop-red text-white;
    margin: 0;
    min-height: 100vh;
    
  }
}

html {
  /* This enables smooth scrolling for all anchor links (#home, #about) */
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* This prevents the NavBar from covering your section titles */
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}